@model Worktastic.Models.Company;
@{
    ViewData["Title"] = "Company";
}

<h1>Company Page</h1>
<hr />

<table class="table table-bordered table-hover table-striped">
    <thead class="table-secondary">
        <tr>
            <th>Name</th>
            <th>Telephone</th>
            <th>E-Mail</th>
            <th>Website</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Phone</td>
            <td>@Model.Email</td>
            <td>@Model.Website</td>
            <td>@Model.Image</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-warning" asp-route-id="@Model.Id" asp-controller="Company" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger" asp-route-id="@Model.Id" asp-action="Delete" asp-controller="Company">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="col-auto d-flex justify-content-between">
    <a class="btn btn-primary" asp-controller="Job" asp-action="Index">Your Jobs</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>
</div>
<hr />